.buttonContainer {
  width: 100%;
}


.btnContainer,.btnContainer1{
  display: flex;
  justify-content: center;
max-width: 1470px;
margin: 0 auto;
padding: 15px 12px;
font-size: 14px;
font-weight: 500;
cursor: pointer;
width: 30%;

}
.btnContainer {
  background-color: #E14F86;
color: white;
border-radius: 4%;
}
.sign {
color: #7994C2;
}
.sign:hover {
  color: #1e6189;
}
