.modal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    height: 90%;
    width: 70%;
    background-color: white;
    border-radius: 10px;
}

.profilModal {
    display: flex;
    align-items: flex-end;
    padding-left: 60px;
    height: 100px;
}

.profilModal h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
}

.wrapper img.miniImgModal {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.containerModal2 {
    height: 470px;
    display: flex;
}

.modalImg {
    max-width: 400px;
    max-height: 300px;
    padding-top: 30px;
    padding-left: 30px;
}

.styleImg {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-radius: 3px;
    border: 1px solid #F3F3F3;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}

.styleImg img {
    width: 80%;
    height: 70%;
}

.inforImg {
    width: 60%;
}

.inforBottomShare {
    padding-top: 30px;
    padding-left: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom : 1px solid grey;
}

.inforBottomShare p {
    color: #999;
    font-size: 19px;
}
.inforBottomShare p  img{
  height: 20px;
  width: 20px;
  vertical-align: middle;
  opacity: .3;
}

.inforBottomLikes {
    padding-top: 30px;
    padding-left: 18px;

    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom : 1px solid grey
}

.inforBottomLikes p {
    font-size: 19px;
    color: #999;
}

#overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(30, 30, 30, 0.9);
    z-index: 1000;
    color: black;
}

.modalOnclick {
    width: 100%;
    height: 50px;
    display: flex;
}

.modalOnclick a {
    color: black;
    cursor: pointer;
}

.openModal {
    width: 100%;
}

.modalOnclick a.close {
    position: relative;
    bottom: 247px;
    font-size: 24px;
    color: grey;
    right: 20px;
}
.color {
  height: 40px;
}
.colorImg {
  height: 100%;
}
.colorImg img {
  height: 30px;
      opacity: .72;
}
.color li {
  float: left;
    width: 4%;
    height: 90%;
}
